<html>
   <head>
         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <h1>Ayurvedic Leaf Classifier</h1>
   </head>

   <body>
      <div class=".outer">
              <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">
  
  <div class="image-upload-wrap">
    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Drag and drop a file or select add Image"> 
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    <div class="image-title-wrap">
      <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
    </div>
  </div>
</div>
</div>
{% block javascript %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static',filename='script.js') }}"></script>


   {% endblock %}
   </body>
</html>