<!DOCTYPE html>
<html>
{% extends "home.html" %}
<head>
	<title>Hibiscus</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2><center>HIBISCUS</center></h2>

<center><img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Hibiscus_rosa-sinensis_flower_2.JPG" width="180" height="180" alt="Tulsi"></center>

<section>
	
<p>Hibiscus herbal tea is more than just a delicious beverage. The health benefits of hibiscus tea are what make it so special. Hibiscus tea is made from the deep magenta sepals of the roselle flower, which is thought to be native to Africa. It is also known by its plant name Hibiscus sabdariffa—hence the name hibiscus tea. The hibiscus name also comes from the Greek word hibiskos, and it is a flowering plant from the mallow family.</p>

<p>It is important to note that there are 232 species of hibiscus, and not all of them are used for tea or healing. For instance, the Hibiscus sabdariffa plant should not be confused with other hibiscus species such as the non-medicinal Hibiscus acetosella. The traditional hibiscus tea plant has yellow flowers and a red center. The Hibiscus acetosella has red flowers.</p>
</section>

<div class="row">
  <div class="column"></div>
  <div class="column"></div>
</div>


<div>
<h3>BENEFITS</h3> <br>
<li>Reduces High Blood Pressure</li>
<li>Helps Lower Cholesterol</li>
<li>Lowers Diabetes Risk by Reducing Cholesterol and Blood Pressure</li>
<li> Offers Liver Protection</li>
<li> Anti-Cancer Properties</li>
<li>Helps Relieve Symptoms of Anxiety and Depression</li>
<li>Benefits Weight Loss</li>
<li>Improves Digestion</li>
<li>Helps Boost the Immune System</li>
<li> Helps Improve Skin Conditions</li>
<li> Beneficial Effects on Oxidative Stress</li>
<li>Relieves Menstrual Pain</li>
<li>Thirst Quencher</li>
<li>Antibacterial and Antiviral Propertiess</li>
</div>

</body>
</html>