<!DOCTYPE html>
<html>
    {% extends "home.html" %}
<head>
	<title>Neem</title>
	link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2><center>NEEM</center></h2>

<center><img src="https://hindi.boldsky.com/img/2016/05/29-1461933268-neam1-10-1462855964.jpg" width="180" height="180" alt="Neem"></center>

<section>
	
<p>What is Neem?<br>
Neem (Azadirachta indica) is the common name of an extremely important tree native to the Indian subcontinent, although it now grows in certain parts of the Middle East as well. Neem trees are actually in the mahogany family of trees, Meliaceae. These trees grow very rapidly and have broad-spreading leaves, which they can drop quickly in a drought so as to protect the rest of the trees. This quality makes them extremely resilient to challenging environments; they are primarily found in tropical and subtropical zones. The flowers are very fragrant and white in color, while the fruit of the neem tree is a small drupe with a bittersweet pulp.</p>
</section>

<div class="row">
  <div class="column"></div>
  <div class="column"></div>
</div>


<div>
<h3>BENEFITS</h3> <br>
<li>Antibacterial Potential</li>
<li>Reduces Dandruff</li>
<li>Detoxifies the Body</li>
<li>Treats Acne</li>
<li>Improves Gastric Health</li>
<li>Anti-cancer Properties</li>
<li>Exfoliating Properties</li>
<li>Inhibits Fungal Infections</li>
<li>Controls Diabetes</li>
<li>Treats Malaria</li>
<li>Improves Oral Health</li>
<li>Improves Reproductive Health</li>
<li>Anti-inflammatory Agent</li>
</div>

</body>
</html>