body{
	background-color: rgb(226, 226, 230);
}
h3{
	font-family:  "Times New Roman", Times, serif;
	font-style: italic ;

}

h2{
	font-family:  "Times New Roman", Times, serif;
	font-style: italic ;
}


section {
	 text-align: justify;
	 float:left;
	 background-color: #f1f1f1;
}

div
{
	background-color: #99C68E;
	font-family:  "Times New Roman", Times, serif;
	font-color: #3B3131;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}